layout: index
description: Interactive artifact data visualizer
subtitle: ParaView ArcticViewer, The ultimate data viewer
cmd: npm install -g arctic-viewer
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-child
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/arctic-viewer").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/arctic-viewer.svg")
      p.intro-feature-desc
        | The ParaView ArcticViewer is an example application based on
        | <a href="https://datascience.lanl.gov/Cinema.html" class="link">Cinema</a> and
        | intended to show off what you can do with
        | <a href="https://kitware.github.io/paraviewweb" class="link">ParaViewWeb</a> and
        | <a href="https://kitware.github.io/vtk-js" class="link">vtk.js</a>.  While it was
        | developed to support a growing set of data types, it's still just an
        | example.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-terminal
      h3.intro-feature-title Command line tool
      p.intro-feature-desc
        | The ParaView ArcticViewer is a command line tool that can work anywhere
        | NodeJS or JavaScript is available and lets you serve and or
        | explore large datasets in an intuitive manner.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-mobile
      h3.intro-feature-title Mobile Friendly
      p.intro-feature-desc
        | Mobile clients can connect to a ParaView ArcticViewer server or
        | download the native iOS application on the App Store. The latter
        | approach wraps the JavaScript code of this project into a native
        | Swift application for a better mobile experience.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc
        | Like what we've done here?  Kitware offers advanced software R&D
        | solutions and services. Find out how we can help you with your next project.

center
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-ListDataSets.jpg", width="15%")
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-JetPropulsion.jpg", width="15%")
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-Medical.jpg", width="15%")
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-Earth.jpg", width="15%")
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-EarthMagicLens.jpg", width="15%")
  img(style="border-radius: 2px;border: solid 1px;margin: 0.5%", src="/arctic-viewer/screenshots/ArcticViewer-Prober.jpg", width="15%")
