layout: index
description: Interactive artifact data visualizer
subtitle: ArcticViewer, The ultimate data viewer
cmd: npm install arctic-viewer
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/arctic-viewer").link Releases
      p.intro-feature-desc ArcticViewer is available via npm and should be used via Webpack or Browserify within your project using standard ES6 import syntax for embedded usage.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-terminal
      h3.intro-feature-title Command line tool
      p.intro-feature-desc
        The ArcticView is a command line tool that can work anywhere
        NodeJS or JavaScript is available and let you serve and or
        explore large dataset in an intuitive manner.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-mobile
      h3.intro-feature-title Mobile Friendly
      p.intro-feature-desc
        Mobile clients can connect to an ArcticViewer server or
        download the native iOS application on the Store. The later
        wraps the JavaScript code of this project into a native Swift
        application for a better mobile experience.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-child
      h3.intro-feature-title Simple to use
      p.intro-feature-desc
        Serve a large dataset via a simple command line and use your
        browser to control and navigate through it.
